@model TrainConnected.Data.Models.Certificate

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <select asp-for="Activity" class="form-control"></select>
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedBy" class="control-label"></label>
                <input asp-for="IssuedBy" class="form-control" />
                <span asp-validation-for="IssuedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedTo" class="control-label"></label>
                <input asp-for="IssuedTo" class="form-control" />
                <span asp-validation-for="IssuedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedOn" class="control-label"></label>
                <input asp-for="IssuedOn" class="form-control" />
                <span asp-validation-for="IssuedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiresOn" class="control-label"></label>
                <input asp-for="ExpiresOn" class="form-control" />
                <span asp-validation-for="ExpiresOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
