/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 60px; /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 30px; /* Vertically center the text there */
}

.dropbtn {
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            color: #2ECC71;
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-radius: 5px;
    background-color: #2ECC71;
    color:#fff
}

/* custom TrainConnected Button
-------------------------------------------------- */
.btn-trainconnected {
    color: #fff;
    background-color: #2ECC71;
    border-color: #2ECC71;
}

.btn-trainconnected:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-trainconnected:focus, .btn-trainconnected.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-trainconnected.disabled, .btn-trainconnected:disabled {
    color: #fff;
    background-color: #2ECC71;
    border-color: #2ECC71;
}

.btn-trainconnected:not(:disabled):not(.disabled):active, .btn-trainconnected:not(:disabled):not(.disabled).active,
.show > .btn-trainconnected.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-trainconnected:not(:disabled):not(.disabled):active:focus, .btn-trainconnected:not(:disabled):not(.disabled).active:focus,
.show > .btn-trainconnected.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

/*Custom TrainConnected Table Header*/
.table-trainconnected,
.table-trainconnected > th,
.table-trainconnected > td {
    background-color: #2ECC71;
    color: #fff;
}

.table-trainconnected th,
.table-trainconnected td,
.table-trainconnected thead th,
.table-trainconnected tbody + tbody {
    border-color: #8fd19e;
    color: #fff;
}

.table-hover .table-trainconnected:hover {
    background-color: #1cb85e;
    color: #fff;
}

.table-hover .table-trainconnected:hover > td,
.table-hover .table-trainconnected:hover > th {
    background-color: #1cb85e;
    color: #fff;
}

/*Navbar Hover Green*/
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #2ECC71;
}

/*Make Images Responsive */ 
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

a.trainconnected {
    color: white;
}

a.trainconnected:hover{
    color: beige;
}

th{
    font-size:16px;
}