<p><b><a asp-area="Identity" asp-page="/Account/Register">Join Us</a></b> to explore and sign up for all kinds of various workout activities.</p>
<p>Already a member? Well <b><a asp-area="Identity" asp-page="/Account/Login">Sign in</a></b>, buddy!</p>

<h3>A Preview of Our Upcoming Workouts</h3>