<p>Hey, Buddy! Below is a list of all upcoming workouts.</p>
<p>To sign up for an activity, simply go to your <b><a asp-area="" asp-controller="Workouts" asp-action="Find">Find Workouts</a></b> Tab.</p>