<div class="container-fluid w-auto" style="display:flex; justify-content:center">
    <div class="bxslider container-fluid">
        <div><img src="https://res.cloudinary.com/trainconnected-cloud/image/upload/v1565118031/WorkoutActivities/SliderPhotos/TrainConnected-01_hxph2c.jpg" class="responsive" title="Train your mind, train your body!" /></div>
        <div><img src="https://res.cloudinary.com/trainconnected-cloud/image/upload/v1565118031/WorkoutActivities/SliderPhotos/TrainConnected-02_fg5bdr.jpg" class="responsive" title="For many, training is an art!" /></div>
        <div><img src="https://res.cloudinary.com/trainconnected-cloud/image/upload/v1565118030/WorkoutActivities/SliderPhotos/TrainConnected-03_twwoph.jpg" class="responsive" title="Find a buddy... or bring one with you!"/></div>
        <div><img src="https://res.cloudinary.com/trainconnected-cloud/image/upload/v1565118030/WorkoutActivities/SliderPhotos/TrainConnected-04_zt5prl.jpg" class="responsive" title="Conquer any obstacle under your Coach's mentorship!"/></div>
        <div><img src="https://res.cloudinary.com/trainconnected-cloud/image/upload/v1565118030/WorkoutActivities/SliderPhotos/TrainConnected-05_gkoyt1.jpg" class="responsive" title="But most importantly, don't forget to have fun!"/></div>
    </div>
</div>