@model PaginatedList<TrainConnected.Web.ViewModels.Workouts.WorkoutsHomeViewModel>

@using TrainConnected.Web.Helpers
@using TrainConnected.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<TrainConnectedUser> SignInManager
@inject UserManager<TrainConnectedUser> UserManager

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TrainConnected!</h1>
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        @await this.Html.PartialAsync("_GuestGreetingPartial")
    }
    else
    {
        @await this.Html.PartialAsync("_LoggedInGreetingPartial")
    }
</div>

@await this.Html.PartialAsync("_SliderPhotosPartial")

@if (!this.SignInManager.IsSignedIn(this.User))
{
    <div class="text-center">
        <h3>A Preview of Our Upcoming Workouts</h3>
    </div>
}

@await this.Html.PartialAsync("_SearchBarPartial")

@await this.Html.PartialAsync("_UpcomingWorkoutsPartial")

@await this.Html.PartialAsync("_PaginationPartial")

<script>
    jQuery(document).ready(function () {
        jQuery('#show-when-loaded').css('opacity', '1');
    });

    $('.bxslider').delay(200).bxSlider({
        auto: true,
        stopAutoOnClick: true,
        pager: true,
        captions: true,
        autoHover: true,
        responsive: true
    });
</script>
