@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Please hold on while we log you out of the application.</p>

    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))" name="logoutUser">
        <button type="submit" class="nav-link btn btn-link text-dark" style="display:none;">Logout</button>
    </form>
</header>

<script>
    window.onload = function(){
      document.forms['logoutUser'].submit();
    }
</script>