<div class="d-flex justify-content-center mt-3">
    <form asp-action="All" method="get">
        <div class="form-actions no-color d-flex justify-content-center">
            <p>
                <strong>Find by Id:</strong> <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="All">Reset</a>
            </p>
        </div>
    </form>
</div>